{{title}}
<br><br><br>
<div *ngIf="customer">
    {{customer.Id}}
    {{customer.Name}}
</div>

<table class="table">
<thead>
    <tr>
        <th>id</th>
           <th>Customer Id</th>
              <th>Invoice Amount</th>
                 <th>tax</th>
    </tr>
</thead>
<tbody>
        <tr *ngFor="let saleInvoice of salesInvoices">
            <td style="border-right:1px solid black">
                {{saleInvoice.Id}}
            </td>
         <td style="border-right:1px solid black">
                {{saleInvoice.CustomerId}}
            </td>
               <td style="border-right:1px solid black">
                    {{saleInvoice.InvoiceAmount}}
            </td>
                <td style="border-right:1px solid black">
                    {{saleInvoice.tax}} 
            </td>
        </tr>
    </tbody>
</table>

